<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Portfólio</title>
		<link rel="shortcut icon" href="../imgs/42.svg" type="image/x-icon">
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/00e90511fb.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="bg"></div>
		<div class="content">
			<header>
				<div class="avatar" style="background-image: url(https://thumbs.dreamstime.com/b/example-red-tag-example-red-square-price-tag-117502755.jpg);"></div>
				<div id="user_info">
					<span id="full-name">FULLNAME</span>
					<span id="username"><a href="https://profile.intra.42.fr/users/USERNAME">USERNAME</a></span>
					<span id="email"><a href="mailto:EMAIL"><i class="fa-regular fa-envelope" id="icone"></i> EMAIL</a></span>
					<span id="campus">Campus: CAMPUS</span>
					<div id="cursus">
						<span>Cursus: CURSUS</span>
						<div class="progress" role="progressbar" style="height: 20px; background-color: #5e5f60;">
							<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: calc(DONE_PROJECTS/MAX_PROJECTS*100%); background-color: var(--primary);">DONE_PROJECTS/MAX_PROJECTS</div>
						</div>
					</div>
				</div>
			</header>
			<aside id="skills">
				<h2>Skills:</h2>
				<ul>
					<li>SKILL</li>
					<li>SKILL</li>
					<li>SKILL</li>
					<li>SKILL</li>
					<li>SKILL</li>
					<li>SKILL</li>
					<li>SKILL</li>
				</ul>
			</aside>
			<section class="projects">
				<div class="card">
					<h5 class="title">PROJECT_NAME</h5>
					<div class="card-body">
						<h6 class="grade">100%</h6>
						<h6 class="keywords">Keywords</h6>
						<ul>
							<li>KEYWORD</li>
							<li>KEYWORD</li>
							<li>KEYWORD</li>
							<li>KEYWORD</li>
						</ul>
						<a href="#PROJECT_ID" class="button" data-bs-toggle="collapse">⌄</a>
					</div>
					<div class="collapse" id="PROJECT_ID">
						<span class="description-title">Description:</span>
						<br>
						<span class="description-body">
							DESCRIPTION
						</span>
					</div>
				</div>
			</section>
		</div>
		<footer>© 2023 &nbsp; 3x*- &nbsp; All Rights Reserved</footer>
	</body>
</html>
